<h3>You inputted length: <%= @length %> , width: <%= @width %> and height: <%= @height %> and weight: <%= @weight %></h3>
<h3><%= @package_volume %></h3>
<h3>Shipping type:<%= @ship_type %></h3>
<h3>Total cost to ship:<%= @total_cost %></h3>
<a href='/'>Return to home page</a>
