<h3>Parcel dimension length: <%= @length %> , width: <%= @width %> and height: <%= @height %> and weight: <%= @weight %></h3>
<h3>Volume: <%= @package_volume %></h3>
<h3>Shipping method: <%= @shipping %></h3>
<h3>Total cost to ship: $<%= @total_cost %></h3>
<a href='/'>Return to home page</a>
